body {margin:0;}


.sfont {
  font-family: "URW Chancery L", "cursive", Cursive;
}

html {
  background-image: linear-gradient(112.7deg, rgb(162, 247, 241) 0.3%, rgb(199, 146, 255) 88.7%);
}

h1 {
  justify-content: center;
  text-decoration: underline;
  align-items: center;
  text-align: center;
  color: linear-gradient(112.7deg, rgb(162, 247, 241) 0.3%, rgb(199, 146, 255) 88.7%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li {
  border-right: 1px solid #00FFFF;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}